#yadea-xmen-page {
    #yadea-xmen-variation {
        width: 100%;
        height: 49.58vw;
        background-color: $black;
        // Main Layout
        .variation-layout {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            // Background Layer
            .bg-holder {
                width: 100%;
                height: 100%;
                position: relative;
                z-index: 0;
                // Background Item
                .bg-item {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    // original state
                    opacity: 0;
                    visibility: hidden;
                    img {
                        display: block;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: center;
                    }
                    // Active State for Code
                    &.active {
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
            // Product Name Image
            .product-name-holder {
                position: absolute;
                z-index: 2;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                // Prodcuct Name Individual
                .product-name {
                    position: absolute;
                    &.active {
                        display: block;
                    }
                    img {
                        width: 100%;
                        height: auto;
                        display: block;
                    }
                    // Image Size Of XMEN Neo name
                    &#colors-name-xmen {
                        width: 41%;
                        left: 42.3%;
                        top: 20.7%;
                        height: 39%;
                        .img-name {
                            position: absolute;
                            &.xmen-name-line1 {
                                width: 89%;
                                right: 0;
                            }
                            &.xmen-name-line2 {
                                top: 53%;
                                width: 63%;
                                right: 0;
                            }
                        }
                    }
                    // Image Size of X5
                    &#colors-name-x5 {
                        width: 33.8%;
                        left: 49.7%;
                        top: 24.1%;
                    }
                }
            }
            // Main Content Layer
            .main-content {
                position: absolute;
                top: 0;
                left: 0;
                padding-top: 74px;
                width: 100%;
                z-index: 5;
                .wrapper {
                    width: 1280px;
                    margin: auto;
                    // Color Control Holder
                    .color-control-holder {
                        margin-top: 60px;
                        .product-name-title {
                            width: 326px;
                            display: flex;
                            position: relative;
                            // Product Item Name
                            .product-name-item {
                                font-size: 26px;
                                color: $white;
                                line-height: 2.25;
                                text-align: center;
                                flex-shrink: 0;
                                cursor: pointer;
                                // Original State
                                transition: all ease-in 200ms;
                                opacity: 0.5;
                                font-weight: 300;
                                &.xmen-name {
                                    flex-basis: 69%;
                                    width: 69%;
                                }
                                &.x5-name {
                                    flex: 31%;
                                    width: 31%;
                                }
                                // Active State
                                &.active {
                                    opacity: 1;
                                    font-weight: 700;
                                    transition: all ease-out 300ms;
                                }
                            }
                            // Decoration Line
                            .decor-line {
                                position: absolute;
                                background-color: rgba($white, 0.3);
                                width: 100%;
                                height: 2px;
                                bottom: 0;
                                left: 0;
                                .active-line {
                                    position: absolute;
                                    top: 0;
                                    height: 2px;
                                    background-color: $white;
                                    transition: all ease-out 300ms;
                                }
                                &.active-1 {
                                    .active-line {
                                        width: 69%;
                                        left: 0;
                                    }
                                }
                                &.active-2 {
                                    .active-line {
                                        width: 31%;
                                        left: 69%;
                                    }
                                }
                            }
                        }
                    }
                    // Colors Group Holder
                    .colors-groups-holder {
                        margin-top: 30px;
                        position: relative;
                        .color-group-list {
                            display: flex;
                            list-style: none;
                            padding: 0;
                            justify-content: space-between;
                            width: 165px;
                            position: absolute;
                            top: 25px;
                            left: -7px;
                            .color-item {
                                text-align: center;
                                width: 38px;
                                height: 38px;
                                border: 1px solid transparent;
                                border-radius: 50%;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                img {
                                    width: 26px;
                                    height: 26px;
                                    display: block;
                                }
                                &.active {
                                    border-color: $white;
                                }
                            }
                            &.active {
                                display: flex;
                            }
                        }
                    }
                }
            }
            // Product Images Holder
            .product-image-holder {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 3;
                .color-group-holder {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    &.active {
                        display: block;
                    }
                    .color-listing {
                        position: absolute;
                        list-style: none;
                        padding: 0;
                        margin: 0;
                        .img-item {
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            top: 0;
                            left: 0;
                            img {
                                width: 100%;
                                height: auto;
                            }
                            .bike-image {
                                position: relative;
                                z-index: 2;
                            }
                            .bike-shadow {
                                position: absolute;
                                z-index: 1;
                            }
                        }
                    }
                    &#color-images-group-xmen {
                        .color-listing {
                            width: 49.5%;
                            left: 33.5%;
                            top: 20%;
                            height: 79%;
                            .img-item {
                                .bike-shadow {
                                    width: 110%;
                                    left: -5%;
                                    bottom: 0.5%;
                                }
                            }
                        }
                    }
                    &#color-images-group-x5 {
                        .color-listing {
                            width: 53.7%;
                            left: 30.8%;
                            top: 16.5%;
                            height: 79%;
                            .img-item {
                                .bike-shadow {
                                    width: 105%;
                                    left: -1%;
                                    bottom: -6.5%;
                                }
                            }
                        }
                    }
                }
            }
            // Pagination Holder
            .paging-holder {
                position: absolute;
                bottom: 3.6%;
                left: 56.25%;
                width: 10%;
                display: flex;
                justify-content: center;
                align-items: center;
                z-index: 5;
                .paging-group {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    position: absolute;
                    .prev-btn,
                    .next-btn {
                        position: relative;
                        top: 2px;
                        cursor: pointer;
                        svg {
                            width: 30px;
                            height: auto;
                        }
                    }
                    .paging-info {
                        margin: 0 16px;
                        letter-spacing: -1px;
                        .current-page {
                            font-size: 24px;
                        }
                    }
                }
            }
        }
    }
    /* === RESPONSIVE === */
    // Screen 1680px and bellow
    @media #{$information-md-screen} {
        #yadea-xmen-variation {
            // Main Layout
            .variation-layout {
                // Main Content Layer
                .main-content {
                    padding-top: 68px;
                    .wrapper {
                        width: 1280px;
                        // Color Control Holder
                        .color-control-holder {
                            margin-top: 50px;
                            .product-name-title {
                                width: 280px;
                                // Product Item Name
                                .product-name-item {
                                    font-size: 22px;
                                }
                            }
                        }
                        // Colors Group Holder
                        .colors-groups-holder {
                            margin-top: 25px;
                            position: relative;
                            .color-group-list {
                                width: 160px;
                                top: 22px;
                                left: -6px;
                                .color-item {
                                    width: 35px;
                                    height: 35px;
                                    img {
                                        width: 22px;
                                        height: 22px;
                                    }
                                }
                            }
                        }
                    }
                }
                // Pagination Holder
                .paging-holder {
                    .paging-group {
                        .prev-btn,
                        .next-btn {
                            position: relative;
                            top: 2px;
                            cursor: pointer;
                            svg {
                                width: 28px;
                                height: auto;
                            }
                        }
                        .paging-info {
                            margin: 0 16px;
                            letter-spacing: -1px;
                            font-size: 15px;
                            .current-page {
                                font-size: 22px;
                            }
                        }
                    }
                }
            }
        }
    }
    // Screen 1440 and bellow
    @media #{$information-sm-screen} {
        #yadea-xmen-variation {
            // Main Layout
            .variation-layout {
                // Main Content Layer
                .main-content {
                    padding-top: 54px;
                    .wrapper {
                        width: 1080px;
                        // Color Control Holder
                        .color-control-holder {
                            margin-top: 40px;
                            .product-name-title {
                                width: 240px;
                                // Product Item Name
                                .product-name-item {
                                    font-size: 20px;
                                }
                            }
                        }
                        // Colors Group Holder
                        .colors-groups-holder {
                            margin-top: 20px;
                            position: relative;
                            .color-group-list {
                                width: 160px;
                                top: 30px;
                                left: -6px;
                                .color-item {
                                    width: 32px;
                                    height: 32px;
                                    img {
                                        width: 20px;
                                        height: 20px;
                                    }
                                }
                            }
                        }
                    }
                }
                // Pagination Holder
                .paging-holder {
                    .paging-group {
                        .prev-btn,
                        .next-btn {
                            top: 2px;
                            svg {
                                width: 25px;
                            }
                        }
                        .paging-info {
                            margin: 0 16px;
                            letter-spacing: -1px;
                            font-size: 14px;
                            .current-page {
                                font-size: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
    // Screen 1280 and bellow
    @media #{$information-sm-laptop} {
        #yadea-xmen-variation {
            // Main Layout
            .variation-layout {
                // Main Content Layer
                .main-content {
                    padding-top: 50px;
                    .wrapper {
                        width: 980px;
                        // Color Control Holder
                        .color-control-holder {
                            margin-top: 40px;
                            .product-name-title {
                                width: 220px;
                                // Product Item Name
                                .product-name-item {
                                    font-size: 18px;
                                }
                            }
                        }
                        // Colors Group Holder
                        .colors-groups-holder {
                            margin-top: 16px;
                            .color-group-list {
                                width: 140px;
                                top: 28px;
                                left: -6px;
                                .color-item {
                                    width: 30px;
                                    height: 30px;
                                    img {
                                        width: 20px;
                                        height: 20px;
                                    }
                                }
                            }
                        }
                    }
                }
                // Pagination Holder
                .paging-holder {
                    .paging-group {
                        .prev-btn,
                        .next-btn {
                            top: 2px;
                            svg {
                                width: 25px;
                            }
                        }
                        .paging-info {
                            margin: 0 16px;
                            letter-spacing: -1px;
                            font-size: 14px;
                            .current-page {
                                font-size: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
    //Screen 1080 and bellow
    @media #{$information-lg-tablet} {
        #yadea-xmen-variation {
            height: 169vw;
            .variation-layout {
                // Product Name Image
                .product-name-holder {
                    // Prodcuct Name Individual
                    .product-name {
                        // Image Size Of XMEN Neo name
                        &#colors-name-xmen {
                            width: 65.625%;
                            left: 29.1666%;
                            top: 43.067%;
                            height: 20.86%;
                            .img-name {
                                &.xmen-name-line1 {
                                    width: 99%;
                                    right: 0;
                                }
                                &.xmen-name-line2 {
                                    top: 50%;
                                    width: 72%;
                                    right: 0;
                                }
                            }
                        }
                        // Image Size of X5
                        &#colors-name-x5 {
                            width: 73.8%;
                            left: 12.7%;
                            top: 44.1%;
                        }
                    }
                }
                // Main Content Layer
                .main-content {
                    width: 100%;
                    padding: 10vw 60px 3vw;
                    height: 100%;
                    .wrapper {
                        width: 100%;
                        margin: auto;
                        display: flex;
                        height: 100%;
                        flex-direction: column;
                        justify-content: flex-start;
                        .section-title,
                        .section-sub-title,
                        .section-desc {
                            text-align: center;
                        }
                        // Color Control Holder
                        .color-control-holder {
                            margin-top: 3vw;
                            flex: 1;
                            display: flex;
                            justify-content: space-between;
                            flex-direction: column;
                            align-items: center;
                            .product-name-title {
                                width: 65.625%;
                                // Product Item Name
                                .product-name-item {
                                    font-size: 26px;
                                }
                            }
                        }
                        // Colors Group Holder
                        .colors-groups-holder {
                            margin-top: 0;
                            position: relative;
                            width: 70%;
                            padding-bottom: 10vw;
                            .label {
                                text-align: center;
                                font-weight: 400;
                                font-size: 32px;
                            }
                            .color-group-list {
                                display: flex;
                                list-style: none;
                                padding: 0;
                                justify-content: space-around;
                                align-items: center;
                                width: 100%;
                                position: absolute;
                                top: auto;
                                left: 0;
                                bottom: 0;
                                width: 100%;
                                height: 10vw;
                                .color-item {
                                    text-align: center;
                                    width: 44px;
                                    height: 44px;
                                    border: 1px solid transparent;
                                    img {
                                        width: 32px;
                                        height: 32px;
                                    }
                                }
                            }
                        }
                    }
                }
                // Product Images Holder
                .product-image-holder {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    z-index: 3;
                    .color-group-holder {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        &.active {
                            display: block;
                        }
                        .color-listing {
                            position: absolute;
                            list-style: none;
                            padding: 0;
                            margin: 0;
                            .img-item {
                                position: absolute;
                                width: 100%;
                                height: 100%;
                                top: 0;
                                left: 0;
                                img {
                                    width: 100%;
                                    height: auto;
                                }
                                .bike-image {
                                    position: relative;
                                    z-index: 2;
                                }
                                .bike-shadow {
                                    position: absolute;
                                    z-index: 1;
                                }
                            }
                        }
                        &#color-images-group-xmen {
                            .color-listing {
                                width: 83%;
                                left: 8.5%;
                                top: 42%;
                                height: 38.75%;
                                .img-item {
                                    .bike-shadow {
                                        width: 110%;
                                        left: -5%;
                                        bottom: 0.5%;
                                    }
                                }
                            }
                        }
                        &#color-images-group-x5 {
                            .color-listing {
                                width: 80.7%;
                                left: 8.8%;
                                top: 41.5%;
                                height: 34.7%;
                                .img-item {
                                    .bike-shadow {
                                        width: 105%;
                                        left: -1%;
                                        bottom: -6.5%;
                                    }
                                }
                            }
                        }
                    }
                }
                // Pagination Holder
                .paging-holder {
                    bottom: 17%;
                    left: 0;
                    width: 100%;
                    .paging-group {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                        position: absolute;
                        .prev-btn,
                        .next-btn {
                            position: relative;
                            top: 2px;
                            cursor: pointer;
                            svg {
                                width: 36px;
                                height: auto;
                            }
                        }
                        .paging-info {
                            margin: 0 16px;
                            letter-spacing: -1px;
                            font-size: 24px;
                            .current-page {
                                font-size: 32px;
                            }
                        }
                    }
                }
            }
        }
    }
    //Screen 480 and bellow
    @media #{$information-phone} {
        #yadea-xmen-variation {
            .variation-layout {
                // Main Content Layer
                .main-content {
                    padding: 9vw 20px 3vw;
                    .wrapper {
                        // Color Control Holder
                        .color-control-holder {
                            margin-top: 2vw;
                            .product-name-title {
                                // Product Item Name
                                .product-name-item {
                                    font-size: 18px;
                                }
                            }
                        }
                        // Colors Group Holder
                        .colors-groups-holder {
                            width: 70%;
                            padding-bottom: 10vw;
                            .label {
                                font-size: 18px;
                            }
                            .color-group-list {
                                height: 10vw;
                                .color-item {
                                    text-align: center;
                                    width: 36px;
                                    height: 36px;
                                    border: 1px solid transparent;
                                    img {
                                        width: 25px;
                                        height: 25px;
                                    }
                                }
                            }
                        }
                    }
                }
                // Pagination Holder
                .paging-holder {
                    .paging-group {
                        .prev-btn,
                        .next-btn {
                            svg {
                                width: 28px;
                            }
                        }
                        .paging-info {
                            margin: 0 13px;
                            letter-spacing: -1px;
                            font-size: 20px;
                            .current-page {
                                font-size: 24px;
                            }
                        }
                    }
                }
            }
        }
    }
    //Screen 375 and bellow
    @media #{$information-sm-phone} {
        #yadea-xmen-variation {
            .variation-layout {
                // Main Content Layer
                .main-content {
                    padding: 9vw 15px 3vw;
                    .wrapper {
                        // Color Control Holder
                        .color-control-holder {
                            margin-top: 1vw;
                            .product-name-title {
                                // Product Item Name
                                .product-name-item {
                                    font-size: 17px;
                                }
                            }
                        }
                        // Colors Group Holder
                        .colors-groups-holder {
                            width: 70%;
                            padding-bottom: 10vw;
                            .label {
                                font-size: 17px;
                            }
                            .color-group-list {
                                height: 10vw;
                                .color-item {
                                    width: 33px;
                                    height: 33px;
                                    img {
                                        width: 22px;
                                        height: 22px;
                                    }
                                }
                            }
                        }
                    }
                }
                // Pagination Holder
                .paging-holder {
                    .paging-group {
                        .prev-btn,
                        .next-btn {
                            svg {
                                width: 24px;
                            }
                        }
                        .paging-info {
                            margin: 0 13px;
                            letter-spacing: -1px;
                            font-size: 18px;
                            .current-page {
                                font-size: 21px;
                            }
                        }
                    }
                }
            }
        }
    }
}